autoenv==1.0.0
beautifulsoup4==4.7.1
boto3==1.9.77
botocore==1.12.77
bs4==0.0.1
docutils==0.14
jmespath==0.9.3
lxml==4.6.5
psutil==5.5.0
pymongo==3.7.2
python-dateutil==2.7.5
s3transfer==0.1.13
selenium==3.141.0
six==1.12.0
soupsieve==1.7
urllib3==1.24.1
virtualenv==16.2.0
